.section-tech {
    background: linear-gradient(0deg, #F0F0F0, #F0F0F0);
    padding-bottom: 75px;
}

.tech-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}
@media (max-width:1028px) {
    .tech-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .tech-arrow {
        margin: 70px 0;
        img {
            transform: rotate(90deg);
        }
    }
}